@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #22d3ee;
}

.glow-text {
  text-shadow: 0 0 20px rgba(34, 211, 238, 0.5);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}